# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments & secrets
.env
.venv/
env/
venv/

# OS / Editor
.DS_Store
Thumbs.db
